[data-bs-theme=dark] {
    --bs-body-bg: #262020!important;
}
#logo {
    background: #DF1AFF;
    background: linear-gradient(to right, #DF1AFF 0%, #FFDA1A 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cherry Bomb One', cursive;
}
.btn-dark{
    --bs-btn-bg: #1E1E1E!important;
    --bs-btn-border-radius: 0.7rem!important;
}
.navbar-collapse .btn-dark{
    --bs-btn-bg: #262020!important;
}


main{
    
    background-image: url(../bkg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.toggler-icon{
    width: 1.5em;
    height: 1.5em;
    background-image: url(../burger.png);
    background-size: cover;
    transition: ease-in-out 0.2s;
}
.toggler-icon:hover{
    background-image: url(../burger-hover.png);
}



.footer_social{
    width: 35px;
    height: 35px;
    filter: invert(0.7);
}
footer .text-body-secondary:hover{
    color: rgb(222 226 230 / 95%)!important;
}
