main {
	background-color: rgba(0, 0, 0, 0.89);
}

main .pages {
	background-color: #161313;
	border-radius: 5px;
}


.splide__slide {
	display: flex;
	justify-content: center;
}
.splide__slide  img{
	max-width: 100%;
}

.splide__list {
	align-items: flex-start;
}

.splide__slide:not(.is-active, .is-next) {
	height: 50vh;
}

.splide__list {
	transition: all 300ms ease;
}