main{
	background-color: rgba(0, 0, 0, 0.89);
}
main .pages{
	background-color: #161313;
	border-radius: 5px;
}
.splide__list img{
	max-width: 100%;
	max-height: 85vh;
}

.splide__slide{
	display: flex;
	justify-content: center;
}